@model HsrTech.Domain.Entities.BankAccount
@{
    ViewBag.Title = "Transferência";
}

<h2>Transferência</h2>
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Balance)
@Html.HiddenFor(m => m.NumberAccount)

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Valor da transferência</span>
    </div>
    <input type="number" id="valor" class="form-control" aria-label="Amount (to the nearest dollar)" autofocus step="0.01">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Número da conta</span>
    </div>
    <input type="number" id="nrConta" class="form-control" min="1">
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="tipoOpcao" id="corrente" value="0" checked>
    <label class="form-check-label" for="corrente">
        Conta Corrente
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="tipoOpcao" id="credito" value="1">
    <label class="form-check-label" for="credito">
        Crédito
    </label>
</div>

<button onclick="Transferir()">Transferir</button>


<script type="text/javascript">
    function Transferir() {
        if ($('#NumberAccount').val() == $('#nrConta').val()) {
            alert("Não é possível transferir para mesma conta!")
            return false;
        } else {
            var valor = $('#valor').val();
            var nrConta = $('#nrConta').val();
            var tipoOpcao = $("input[name='tipoOpcao']:checked").val();
            var numberAccount = $('#NumberAccount').val();

            //decimal value, int numberAccount, int typeTransfer, int numberBankAccount
            $.post("@Url.Action("TransferValue", "BankAccount", null, "http")",
                JSON.stringify({
                    value: valor,
                    numberAccount: numberAccount,
                    typeTransfer: tipoOpcao,
                    numberBankAccount: nrConta

                }),
                function (response) {
                    erro: if (response.erro) {
                    alert("ERRO! Impossivel realizar a operação");
                    return false;
                }
                    success: if (response.success) {
                    alert("SUCESSO! Operação realizada com sucesso");
                    return true;
                }
                return false;
                }
                , "JSON");
            return true;
        }
    }
</script>